
<!-- Footer -->
<footer class="text-center text-lg-start bg-white text-muted" id="footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-3 link-secondary">
        {{!-- <i class="fab fa-facebook-f"></i> --}}       
        <a class="btn btn-dark btn-floating m-1" href="#!" role="button">
        <i style="font-size:18px" class="fa">&#xf09a;</i></a>
      </a>

      <a href="" class="me-3 link-secondary">
        <a class="btn btn-dark btn-floating m-1" href="#!" role="button">
        <i style="font-size:18px" class="fa">&#xf099;</i></a>
      </a>

      <a href="" class="me-3 link-secondary">
        <a class="btn btn-dark btn-floating m-1" href="#!" role="button">
        <i style="font-size:18px" class="fa">&#xf0d5;</i></a>
      </a>

      <a href="" class="me-3 link-secondary">
        <a class="btn btn-dark btn-floating m-1" href="#!" role="button">   
        <i style="font-size:18px" class="fa">&#xf16d;</i></a>     
      </a>

      <a href="" class="me-3 link-secondary">
        <a class="btn btn-dark btn-floating m-1" href="#!" role="button">
        <i style="font-size:18px" class="fa">&#xf16a;</i></a>
      </a>
      <a href="" class="me-3 link-secondary">
        <a class="btn btn-dark btn-floating m-1" href="#!" role="button">
        <i style="font-size:18px" class="fa">&#xf09b;</i></a>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Convenient Menu
          </h6>
          <p id="about">
            Hiện nay cửa hàng tiện lợi là nhu cầu phổ biến từ học sinh , sinh viên, người đi làm,.. nhu cầu có một buổi lót bụng để tiếp tục sinh hoạt nhưng chúng ta thường xuyên đối mặt với việc vào cửa hàng nhưng không biết chọn gì? thiếu dinh dưỡng.
            <br>
            Giải pháp team chúng tôi cung cấp là một ứng dụng cung cấp các tổ hợp dinh dưỡng và giá cả vừa túi.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Sản phẩm
          </h6>
          <p>
            <a href="#!" class="text-reset">Thức Ăn</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thức Uống</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thức Ăn Nhanh</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Thẻ cào điện thoại</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Dịch vụ</a>
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Điều khoản sử dụng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cài đặt</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Đặt hàng</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Hỗ trợ</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Giới thiệu</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          
          <p style="font-size:18px" class="fa"><span class="fas fa-home me-3 text-secondary"></span>Location: Ho Chi Minh City</p>
          <p style="font-size:18px" class="fa"><span class="fas fa-envelope me-3 text-secondary"></span>Email: info@hda.com.vn</p>
          <p style="font-size:18px" class="fa"><span class="fas fa-phone me-3 text-secondary"></span>Hotline: + 01 234 567 88</p>
          <p style="font-size:18px" class="fa"><span class="fas fa-user me-3 text-secondary"></span>Tel: + 01 234 567 89</p>
          
          <p>Đăng kí nhanh! Nhận ngay ưu đãi 
          <i style="font-size:24px" class="fa">&#xf06b;</i>
          </br>
          <!-- Section: Form -->
          <section class="">
            <form action="">
              <!--Grid row-->
              <div class="row d-flex justify-content-right">
                <!--Grid column-->
                <div class="col-10">
                  <!-- Email input -->
                  <div class="form-outline form-white mb-4">
                    <input type="email" id="emailAddress" class="form-control" placeholder="Email address" />
                    <label class="form-label" for="emailAddress"></label>
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-2">
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-dark mb-4">
                    Gửi
                  </button>
                </div>
                <!--Grid column-->
              </div>
              <!--Grid row-->
            </form>
          </section></p> 
         
        </div>

        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://hdateam.com/">HDA-Team.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
