{{!-- <!doctype html>
<html lang="en">
<head>
      <title>Convenient Menu</title>
      
</head>
<body> --}}
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="header">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item active">
            <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
            <a class="nav-link" href="#about">Giới thiệu</a>
      </li>
     
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Danh sách cửa hàng
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Thực đơn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Feedback</a>
      </li>

      <div class="userAuthen">
            <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
                  <li><a class="dropdown-item" href="#">Đăng kí</a></li>
            </ul>
            </div>
      </div>

  
            
    </ul>
    <form class="row g-3" style="margin-left: 40px;">
      <div class="col-auto">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col-auto">
             <button class="btn btn-dark col-auto" type="submit">Search</button>
      </div>
     
    </form>
  </div>

</nav>


{{!-- </body>
</html> --}}