<form class="form" id="feedback" method="POST" >
  <h2>Feedback</h2>
  <p type="Name:"><input type="text" name = "name" placeholder="Tên"></input></p>
  <p type="Email:"><input type="text" name = "email" placeholder="Email"></input></p>
  <p type="Message:"><input type="text" name = "message" placeholder="Nội dung"></input></p>
  <button>Gửi đi</button>
  <div class="contact">
    <span><i class="fa fa-phone" aria-hidden="true"></i></span>001 1023 567
    <span><i class="fa fa-envelope-o" aria-hidden="true" style="margin-left:30px"></i></span>info@hda.com.vn
  </div>
</form>