<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-signin-client_id"
    content="463225526330-v1bs20uh1t2kqiq2jcv6k80u72bt0fb1.apps.googleusercontent.com">
  <title>Eloop</title>
  <link rel="shortcut icon" href="/images/logo.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/menu.css' />
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel='stylesheet' href='/stylesheets/feedback.css' />
  <link rel='stylesheet' href='/stylesheets/info.css' />
  <link rel='stylesheet' href='/stylesheets/signup.css' />
  <link rel='stylesheet' href='/stylesheets/signin.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Bootstrap icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- detail. css -->
  <link rel='stylesheet' href='/stylesheets/detail.css' />

{{!--   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> --}}


</head>

<body>
  {{>header}}



  {{{body}}}


  {{>footer}}

  <script>

    window.console.log("load lai main")
    let prism = document.querySelector(".rec-prism");
    function showSignup() {
      prism.style.transform = "translateZ(-100px) rotateY( -90deg)";
    }
    function showLogin() {
      prism.style.transform = "translateZ(-100px)";
    }
    function showForgotPassword() {
      prism.style.transform = "translateZ(-100px) rotateY( -180deg)";
    }
    function showSubscribe() {
      prism.style.transform = "translateZ(-100px) rotateX( -90deg)";
    }
    function showContactUs() {
      prism.style.transform = "translateZ(-100px) rotateY( 90deg)";
    }
    function showThankYou() {
      prism.style.transform = "translateZ(-100px) rotateX( 90deg)";
    }
    function validateEmail(emailId) {
      let text;
      var mailformat = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
      if (emailId.value.match(mailformat)) {
        document.form1.text1.focus();
        //text = "Valid email address.";    
        return true;
      }
      else {
        alert("Vui lòng nhập email hợp lệ.");
        //text = "Vui lòng nhập email hợp lệ.";
        //document.getElementById("error").innerHTML = text; 
        document.form1.text1.focus();
        return false;
      }
    }
    function showThankYouAfterValidEmail(emailId) {
      if (validateEmail(emailId) == true) {
        prism.style.transform = "translateZ(-100px) rotateX( 90deg)";
      }
      else {
        validateEmail(emailId)
      }
    }
  </script>
  {{!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> --}}
  {{!--
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="//cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.runtime.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

  {{!-- Google --}}
  <script src="https://apis.google.com/js/api:client.js"></script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

  {{!-- Dropdowns --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</body>

</html>