@import url("https://fonts.googleapis.com/css?family=Mukta:700");
body {
  margin: 0;
  padding: 0; }

.img {
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.7; }

.media {
  display: flex;
  align-items: flex-start; }

.media-body {
  flex: 1; }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit; }
  button.learn-more {
    width: 12rem;
    height: auto; }
    button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #52b6f9;
      border-radius: 1.625rem; }
      button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff; }
        button.learn-more .circle .icon.arrow {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none; }
          button.learn-more .circle .icon.arrow::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg); }
    button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #52b6f9;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase; }
  button:hover .circle {
    width: 100%; }
    button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0); }
  button:hover .button-text {
    color: #fff; }

@keyframes scaleCircle {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes rotateDots {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.layer-1 {
  z-index: 1; }

.layer-2 {
  z-index: 2; }

.animation-0 {
  animation-name: rotateDots;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: ease; }

.animation-01 {
  animation: scaleCircle 0.5s 0s cubic-bezier(0.35, 1.35, 0.5, 1) backwards; }

.animation-02 {
  animation: scaleCircle 0.5s 0.5s cubic-bezier(0.35, 1.35, 0.5, 1) backwards; }

main {
  height: 500px;
  display: grid;
  align-items: center; }

main img {
  width: 200px;
  height: 200px;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%; }

@keyframes rotate {
  from {
    transform: rotate(-360deg); }
  to {
    transform: rotate(360deg); } }

.curved-text {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 32px; }

.curved-text span {
  min-width: 0.5em;
  text-align: center;
  padding: 30px;
  margin: 0px; }
