/* #btn {
  background: #808080;
  color: #eee;
  height: 40px;
  min-width: 80px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  
  margin-left:240px;
  padding-top:10px;
  text-align: center;
  padding-left: 5px;
  padding-top:5px;
}

#btn-signup {
  background: #202020;
  height: 40px;
  min-width: 80px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  margin-left:10px;
  margin-right:20px; 
  text-align: center;
  padding-left: 5px;
  padding-top:5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

#btn-signup #circle2 {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.noselect2 {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 50px;
  width: 80px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

#btn-signup:hover {
  background: transparent;
}

#btn-signup:hover #circle2 {
  height: 50px;
  width: 80px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
} */

#header .userAuthen{
  margin-left:450px;
}
#header .caret.caret-up {
  border-top-width: 0;
  border-bottom: 1px solid white;
}


/* <div id="btn"><span class="noselect">Đăng nhập</span><div id="circle"></div></div>
<div id="btn-signup"><span class="noselect2">Đăng kí</span><div id="circle2"></div></div> */