<div class="row">
    <div class="col-lg-12">
        <img class="img-fluid" src="/images/banner.jpg" alt="HDA TEAM" />
    </div>
</div>

<section class="py-0 ux-section bg-light">
    <div class="container mt-5">
        <div class="row d-flex align-items-center justify-content-around">
            <div class="col-lg-3">
                <h3 class="display-6 fw-bold mb-5 mt-5 text-center">Tái chế</h3>
            </div>
            <div class="col-lg-3">
                <h3 class="display-6 fw-bold mb-5 mt-5 text-center">Từ thiện</h3>
            </div>
            <div class="col-lg-3">
                <h3 class="display-6 fw-bold mb-5 mt-5 text-center">Sản phẩm hữu cơ</h3>
            </div>
            <div class="col-lg-3">
                <h3 class="display-6 fw-bold mb-5 mt-5 text-center">Bảo vệ môi trường</h3>
            </div>
        </div>
        <div class="row d-flex align-items-center justify-content-content ">
            <div class="col-lg-3 mb-5"><img class="img-fluid" src="/images/recycles.png" alt="recycles.png" /></div>
            <div class="col-lg-3 mb-5"><img class="img-fluid" src="/images/charity.png" alt="charity.png" /></div>
            <div class="col-lg-3 mb-5"><img class="img-fluid" src="/images/organic.png" alt="organic.png" /></div>
            <div class="col-lg-3 mb-5"><img class="img-fluid" src="/images/environment.jpg" alt="environment.jpg" />
            </div>
        </div>
    </div>
</section>